// var color code
$darkColor: #111;
$lightColor: #fff;
$darkBgColor: #111;
$pointColor: #f19a9a;
$pointBgColor: #dd2929;
$mainBgColor: #ccc;
$greyColor: #555;

$editDark: #111;
$editLight: #fff;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'), url('./PretendardVariable.woff2') format('woff2-variations');
}

#app {
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  height: 100%;
  // height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);
  border-left: 1px solid $darkColor;
  border-right: 1px solid $darkColor;
  font-family: 'Pretendard Variable';
  &.onload {
    header {
      height: 50px;
      a {
        display: inline-block;
      }
      button {
        display: inline-block;
        cursor: pointer;
        &:before,
        &:after {
          display: inline-block;
        }
      }
      h1 {
        position: relative;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        &:before {
          display: inline-block;
        }
        &:after {
          display: none;
          animation: none;
        }
      }
      label {
        display: inline-block;
      }
    }
  }
  &.admin {
    main ul {
      padding-top: 84px;
      & > li.blind h2 {
        background-image: none;
        color: $darkColor;
      }
    }
  }

  header {
    z-index: 10;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    margin: 0;
    max-width: 640px;
    width: 100%;
    height: 100%;
    border: 1px solid $darkColor;
    border-top-width: 0;
    background: #fff;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    transition: height 550ms;
    > a {
      display: none;
      position: absolute;
      top: 50%;
      left: 16px;
      padding: 4px 12px;
      font-size: 12px;
      font-weight: 600;
      border: 1px solid $darkColor;
      border-radius: 2px;
      color: $darkColor;
      // background: $darkColor;
      text-decoration: none;
      transform: translateY(-50%);
    }
    h1 {
      margin: 0;
      font-size: 0;
      font-weight: 500;
      &:before {
        content: "#";
      }
      &:after {
        content: "...";
        animation: loading 1.2s infinite;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: -0.01em;
      }
      button {
        position: relative;
        margin: 0;
        padding: 0 14px 0 0;
        font-weight: 600;
        border: none;
        color: $darkColor;
        background: rgba(0, 0, 0, 0);
        text-decoration: none;
        &:before,
        &:after {
          display: none;
          content: "";
          position: absolute;
          right: 0;
          width: 0;
          height: 0;
          border-width: 4px;
          border-style: solid;
        }
        &:before {
          top: 0;
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $darkColor;
        }
        &:after {
          bottom: 0;
          border-color: $darkColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        }
      }
    }
    > label {
      display: none;
      position: absolute;
      top: 50%;
      right: 16px;
      font-size: 14px;
      transform: translateY(-50%);
      input {
        display: inline-block;
        padding: 0;
        margin: -4px 2px 0 0;
        width: 14px;
        height: 14px;
        border: 1px solid $darkColor;
        border-radius: 0;
        appearance: none;
        font-size: 0;
        vertical-align: middle;
        background: #fff;
        transition: background 250ms;
        &:checked {
          background: $darkColor;
        }
      }
    }
    nav {
      z-index: 9;
      position: absolute;
      top: 54px;
      left: 0;
      right: 0;
      padding: 6px 20px;
      margin: -8px 0 0 -8px;
      text-align: center;
      label {
        display: inline-block;
        padding: 4px 8px;
        margin: 8px 0 0 8px;
        font-size: 12px;
        color: $darkColor;
        border: 1px solid $darkColor;
        background: $lightColor;
        input {
          display: inline-block;
          padding: 0;
          margin: 0 3px 0 0;
          width: 10px;
          height: 10px;
          border: 1px solid $darkColor;
          border-radius: 0;
          appearance: none;
          background: #fff;
          transition: background 250ms;
          &:checked {
            background: $darkColor;
          }
        }
        & + label {
          margin-left: 8px;
        }
      }
    }
  }
  
  main {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    background: #f5f5f5;
    ul {
      position: relative;
      padding: 50px 0 80px;
      // padding: 50px 0 280px;
      margin: 0;
      height: 100%;
      list-style: none;
      overflow-y: auto;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $mainBgColor;
        border-radius: 0;
        background-clip: padding-box;
        border: 1px solid $mainBgColor;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 0;
      }

      > li {
        position: relative;
        padding: 0 20px;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        > div {
          position: relative;
          float: left;
          padding: 10px 28px 10px 16px;
          min-width: 130px;
          max-width: 80%;
          border: 1px solid $darkColor;
          border-radius: 0 16px 16px 16px;
          background: #fff;
          box-shadow: 3px 4px 0 -1px rgba(17, 17, 17, 0.8);
        }
        p {
          display: inline-block;
          padding: 3px 6px;
          margin: 0 2px 0 0;
          font-size: 12px;
          font-weight: 600;
          background: $darkColor;
          color: $lightColor;
          transform: translateY(-2px);
        }
        h2 {
          display: inline;
          line-height: 20px;
          margin: 4px 0 0;
          font-size: 14px;
          font-weight: 400;
          padding-left: 4px;
          user-select: none;
          vertical-align: text-bottom;
          word-break: word-break;
        }
        span {
          display: inline-block;
          position: absolute;
          right: 0;
          bottom: -22px;
          padding: 0 12px;
          font-size: 11px;
          font-weight: 500;
          color: $darkColor;
        }
        button {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 0;
          border: none;
          background: rgba(0, 0, 0, 0);
          cursor: pointer;
          &:before {
            content: "+";
            display: inline-block;
            position: absolute;
            top: 5px;
            right: 8px;
            width: 14px;
            height: 14px;
            line-height: 11px;
            border: 1px solid $darkColor;
            border-radius: 50%;
            font-size: 13px;
            font-weight: 600;
            box-sizing: border-box;
            background: $lightColor;
          }
        }
        & + li {
          margin-top: 36px; 
        }
        &.blind {
          > div {
            padding: 10px 16px 10px 18px;
          }
          h2 {
            color: rgba(0, 0, 0, 0);
            background-image: radial-gradient($darkColor 1px, rgba(0, 0, 0, 0) 0);
            background-size: 4px 4px;
            background-position: -4px -3px;
          }
        }
        &.author {
          div {
            float: right;
            border-radius: 16px 0 16px 16px;
            background: $mainBgColor;
            color: $darkColor;
          }
          span {
            left: 0;
          }
        }
        &.edit {
          > div {
            background: $editDark;
          }
          p {
            color: $editDark;
            background: $editLight;
          }
          h2 {
            color: $editLight;
          }
          button {
            &:before {
              content: "-";
            }
          }
        }
      }
    }

    section {
      // position: fixed;
      // left: 50%;
      // right: 0;
      // bottom: 0;
      margin-top: auto;
      width: 100%;
      max-width: 640px;
      border-top: 1px solid $darkColor;
      // transform: translateX(-50%);
      box-sizing: border-box;
      justify-content: space-between;
      > button {
        position: absolute;
        top: -50px;
        left: 50%;
        padding: 0 16px;
        height: 36px;
        border-radius: 20px;
        font-size: 12px;
        color: $lightColor;
        background: $darkBgColor;
        transform: translateX(-50%);
      }
      form {
        padding: 6px 16px 20px;
        background: $mainBgColor;
        > div {
          &:first-child {
            padding-bottom: 8px;
            margin: 0 0 0 -16px;
            label {
              display: inline-flex;
              margin: 0 0 0 16px;
              padding: 6px 0;
              font-size: 14px;
              font-weight: 500;
              align-items: center;
              input {
                display: inline-block;
                padding: 0;
                margin: 0 3px 0 0;
                width: 10px;
                height: 10px;
                border: 1px solid $darkColor;
                border-radius: 50%;
                appearance: none;
                background: #fff;
                transition: background 250ms;
                &:checked {
                  background: $darkColor;
                }
              }
              span {
                display: inline-block;
                margin-left: 4px;
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
          &:last-child {
            display: flex;
            gap: 8px;
          }

          div:last-child {
            display: flex;
            flex-direction: column;
            gap: 8px;
            button:last-child {
              color: $lightColor;
              background: $greyColor;
            }
          }
        }
        textarea {
          padding: 6px 12px;
          margin: 0;
          width: 100%;
          min-height: 72px;
          border: 1px solid #111;
          border-radius: 0;
          font-family: 'Pretendard Variable';
          resize: none;
          outline: none;
        }
        button {
          padding: 0 20px;
          margin: 0;
          min-height: 32px;
          min-width: 80px;
          font-weight: 500;
          border: 1px solid $darkColor;
          border-radius: 2px;
          background: $lightColor;
        }
        &.edit {
          background: $editDark;
          > div {
            &:first-child {
              label {
                color: $editLight;
                input {
                  color: $editLight;
                  background: $greyColor;
                  &:checked {
                    background: $editLight;
                  }
                }
                span {
                  color: $editLight;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes loading {
  0% {
    content: "....";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {      
    content: "...";
  }
  100% {
    content: "....";
  }
}

// 롤링문구
// 조직과 구성원의 성장과 관계쉽이니까 특정인을 인신공격하거나 역량 또는 스킬을 문제시하면안돼
//
// 타인을 인신공격 및
