:root {
  --app-height: 100%;
}

html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	@media not all and (hover:hover) {
		height: var(--app-height);
	}
}

body {
	color: #111;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: linear-gradient(-45deg, rgba(17, 17, 17, 0) 4px, #111 4px, rgba(17, 17, 17, 0) 5px);
	background-size: 6px 6px;
	background-repeat: repeat;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
